html * {
  font-family: Helvetica;
  margin: 0;
}
var {
  color: red;
}
kbd var {
  font-family: monospace;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: blue;
}
.grid section {
  background-color: cyan;
}
section article {
  background-color: green;
}
section > article + article {
  margin-top: 1em;
}
article article {
  background-color: orange;
}
h1,
h2 {
  text-align: center;
}
h3,
h4 {
  margin-left: 0.5em;
}
dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.5em;
  column-gap: 1em;
  margin-left: 1em;
}
dd {
}
body {
  background-color: blanchedalmond;
  border: 5px solid black;
}
h2 {
  background-color: fuchsia;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
dd {
  display: inline;
}
dd::before {
  content: "// ";
}
h3 {
  background-color: salmon;
}
