html * {
  font-family: Helvetica;
  margin: 0;
}
var {
  color: orangered;
  font-weight: bolder;
  font-style: italic;
  font-family: monospace;
}
kbd var {
  font-family: monospace;
  background-color: lightgray;
}
.grid {
  margin: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section article {
  background-color: green;
}
section > article + article {
  margin-top: 1em;
}
article article {
  margin-left: 1em;
}
h1,
h2 {
  text-align: center;
}
h3,
h4 {
  margin-left: 0.5em;
}
dl {
  display: grid;
  grid-template-columns: fit-content(50%) 1fr;
  row-gap: 0.5em;
  column-gap: 1em;
  margin-left: 1em;
}
.options {
  border: dashed;
  margin-left: 1em;
  stroke: darkblue;
  background-color: orange;
}
dd {
  font-weight: lighter;
  font-style: italic;
}
body {
  border: 5px solid lightcoral;
}
h2 {
  background-color: fuchsia;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
dd {
  display: inline;
}
dd::before {
  content: "// ";
}
dt {
  background-color: lightcoral;
  justify-self: start;
  align-self: start;
}
.opt {
  white-space: nowrap;
}
h3 {
  background-color: salmon;
}
